<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <display-name>Bridge Web Services</display-name>
    
    <servlet>
        <servlet-name>spring-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>/WEB-INF/applicationContext.xml</param-value>
	    </init-param>        
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>spring-dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
     
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<!-- Make sure the init-params are passed through the proxy to the bean -->
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>allow-anonymous</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>authFilter</filter-name>
<!-- 		<url-pattern>/service/auth/v1/*</url-pattern> -->
<!-- 		<url-pattern>/service/auth/v1/user</url-pattern> -->
<!-- 		<url-pattern>/service/auth/v1/userPassword</url-pattern> -->
<!-- 		<url-pattern>/service/auth/v1/changeEmail</url-pattern> -->
<!-- 		<url-pattern>/service/auth/v1/apiPasswordEmail</url-pattern> -->
<!-- 		<url-pattern>/service/auth/v1/secretKey</url-pattern> -->
<!-- 		<url-pattern>/service/repo/v1/*</url-pattern> -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
     
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>