.main-pane {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: white;
    min-height: 50rem;
    box-shadow: 0px 1px 3px silver inset;
    
    .box {
        max-width: 70rem; 
        padding: 0 1rem; 
        margin: 2rem auto;
    }
}
/* Basically, the built-in styles for the content that users can edit. */   
#content-pane {
    h1 { font: normal 2.2rem 'Archivo Narrow', sans-serif; border-bottom: 1px solid #aaa; }
    h2 { font: normal 2.1rem 'Archivo Narrow', sans-serif; }
    h3 { font: normal 2rem 'Archivo Narrow', sans-serif; }
    h4 { font: italic 2rem 'Archivo Narrow', sans-serif; }
    h5 { font: italic 2rem 'Archivo Narrow', sans-serif; margin-left: 1rem;}
    h6 { font: italic 2rem 'Archivo Narrow', sans-serif; margin-left: 2rem; }
}
