.form {
    &.well {
        padding: .5rem;
        max-width: 60rem;
    }
    
	th, td { padding: .5rem; }
	th { text-align: left; vertical-align: bottom; }
	td:first-child { width: 100%; }
	input[type=text] { width: 5rem; display: inline-block; }
	select { width: 10rem ! important; }
	h4 { font-family: 'Archivo Narrow'; }
	
    .indent { padding-left: 3rem; }
    .multi { white-space: nowrap; }
}
.defaulted {
    border-color: rgb(118,172,105) !important;
    background-color: rgba(118,172,105,.2)!important;
}
.example.defaulted {
    padding: .2rem .5rem;
    display: inline-block;
    width: 2rem;
    border: 1px solid rgb(118,172,105);
    background-color: rgba(118,172,105,.2);
    border-radius: 3px;
}