body {
	background-color: rgb(239,239,239);
	font-family: Open Sans, sans-serif;
}
/*
a, a:visited {
	color: rgb(54,108,183);
}
*/
h1, h2, h3, h4 {
	font-family: 'Archivo Narrow', sans-serif;
}
h3.auth {
    margin: 0 0 1rem 0;
    font: normal 2.1rem 'Archivo Narrow', sans-serif;
}

.forgotLinkWrapper {
	margin-top:1rem; 
	margin-bottom: -.25rem;
}
.main-pane {
    padding-right: 2rem;
}
.right {
    float: right;
}
.smTopSpaced {
    margin-top: 1rem;
}
.smBottomSpaced {
    margin-bottom: 1rem;
}
.topSpaced {
    margin-top: 2rem;
}
.bottomSpaced {
    margin-bottom: 2rem;
}
.checkbox-box {
    height: 107px; 
    overflow-y: scroll; 
    border: 1px solid #aaa; 
    padding: 0 1rem;
}
.divider-element {
    color: #aaa;
}
.attachment {
    max-height: 10rem; 
    max-width: 10rem; 
    cursor: pointer;
}
#notice {
    display: none;
}
@media (max-width: 600px) {
	.main-pane {
	    padding-right: 15px;
	}
}