body {
	background-color: rgb(239,239,239);
	font-family: Open Sans, sans-serif;
}
/*
a, a:visited {
	color: rgb(54,108,183);
}
*/
h1, h2, h3, h4 {
	font-family: 'Archivo Narrow', sans-serif;
}
.forgotLinkWrapper {
	margin-top:1rem; 
	margin-bottom: -.25rem;
}
.main-pane {
    padding-right: 2rem;
}
.right {
    float: right;
}
.topSpaced {
    margin-top: 2rem;
}
.editable {
    border: 1px solid #aaa;
}
#profile-pane {
    padding: 1rem;
    overflow: hidden;
    
    img {
       width: 5.6rem;
       height: 5.6rem;
       margin-right: 1rem;
    }
    .userName {
        font-size: 16px;
        margin-bottom: .6rem;
    }
}
.div {
    color: #aaa;
}
#notice {
    display: none;
}
.breadcrumb {
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.list-group-item {
    padding: 0;
    
    &.active {
        padding: 10px 15px;
    }
    a {
        display: block;
        padding: 10px 15px;
    }
}

@media (max-width: 600px) {
	.main-pane {
	    padding-right: 15px;
	}
}