body {
	background-color: rgb(239,239,239);
	font-family: Open Sans, sans-serif;
}
h1, h2, h3, h4 {
	font-family: 'Archivo Narrow', sans-serif;
}
h3.auth {
    margin: 0 0 1rem 0;
    font: normal 2.1rem 'Archivo Narrow', sans-serif;
}

.forgotLinkWrapper {
	margin-top:1rem; 
	margin-bottom: -.25rem;
}
.right {
    float: right;
}
.smTopSpaced {
    margin-top: 1rem;
}
.smBottomSpaced {
    margin-bottom: 1rem;
}
.topSpaced {
    margin-top: 2rem;
}
.bottomSpaced {
    margin-bottom: 2rem;
}
.checkbox-box {
    height: 107px; 
    overflow-y: scroll; 
    border: 1px solid #aaa; 
    padding: 0 1rem;
}
.divider-element {
    color: #aaa;
}
#notice {
    display: none;
}
.footer-break {
	border-top: 1px solid #aaa;
	padding-top: 10px;
	margin-left: -15px !important;
	margin-right: -15px !important; 
}