body {
	background-color: rgb(239,239,239);
	font-family: Open Sans, sans-serif;
}
a, a:visited, a:active {
	color: rgb(54,108,183);
}
.forgotLinkWrapper {
	margin-top:1rem; 
	margin-bottom: -.25rem;
}
#notice {
    display: none;
}